* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 40px 0 5px 0;
    color: rgba(16, 188, 16, 0.638);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box, form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    padding: 0 15px 0 15px;
}

button {
    width: 284px;
    height: 44px;
    border-radius: 6px;
    background-color: rgba(16, 188, 16, 0.638);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}